<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8"/> 
    <title>Connexion</title>
    <meta name="author" content="Ayyoub"/>
    <meta name="keywords" content="A COMPLETER"/>
</head>
<body>
    <form action="sucess_create.html" method="get">
    <label for="pseudo">Ton pseudo :</label>
    <input type="text" id="login" name="login" required>
    <label for="password">Ton Mot de Passe :</label>
    <input type="password" id="mdp" name="mdp" required>

    <button type="submit">Envoyer</button>
    </form>












</body>
</html>