<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8"/> 
    <title>Connexion</title>
    <meta name="author" content="Ayyoub"/>
    <meta name="keywords" content="A COMPLETER"/>
</head>
<body>
    <h1>Connectez vous  </h1>
    <input type="text" name="username" placeholder="Login" required>
    <input type="password" name="password" placeholder="Mot de passe" required>

    <a href="sucess.html">
        <button type="submit">Se Connecter</button>
    </a>

    <a href="creation_utilistateur.html">
        <button type="submit">Nouvel Utilisateur</button>
    </a>


</body>
</html>